[defaults]
inventory = inventory/hosts.yml
remote_user = fbi
private_key_file = ~/.ssh/id_rsa
host_key_checking = False
stdout_callback = yaml
collections_paths = ~/.ansible/collections

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False